.luckyNumber{
    text-align: center;
    width: 600px;
    color: blue;
  margin: 300px 700px;
  background-color: aqua;
  

}
.main{
color: coral;
}
.Text{
  
    margin: 20px 20px;
}
.button{
    border: 1px solid black;
}
.button:hover{
    cursor: pointer;
    background-color: chartreuse;
}
